.spotify:hover{
    fill: #1DB954;
}
.appleMusic:hover{
    fill: #FB435B;
}
.youtube:hover{
    fill: #FF0000;
}
.iconoDeezer .deezerColor{
    display: none;
}
.iconoDeezer:hover .deezerNegro{
    display: none;
}
.iconoDeezer:hover .deezerColor{
    display: block;
}
.facebook:hover{
    fill: #1778f2;
}
.twitter:hover{
    fill: #1DA1F2;
}
