@import "nav";
@import "colores";
@import "home";
@import "footer";
@import "albums";
@import "galeria";
@import "contacto";
@import "iconos";
@import "tienda";
@import "mediaqueries";
@import "fonts";
@import "404";

main{
    background-color: $colorFondo;
    font-family: 'Helvetica Now Text';
    height: auto;
    min-height: 810px;
}

*{
    scroll-behavior: smooth;
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $colorFondo;
    display:flex;
    justify-content: center;
    align-items: center;
  }
